// Font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');
// Variables
@import './_variables.scss';
// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Body
body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(233, 233, 233);
}
// Commons
.container {
    width: 100%;
    max-width: 1600px;
    padding: 0 1rem;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        padding: 0 2rem;
    }
}
.btn {
    border: none;
    border-radius: .4rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: opacity .3s;
    &:hover {
        opacity: .8;
    }
}
// Typo
a {
    text-decoration: none;
}