@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;

600&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #e9e9e9;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 1rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

.btn {
  border: none;
  border-radius: 0.4rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

